<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="23" android:versionName="3.6.0" package="com.zhangdan.app"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/icon" android:name=".ZhangdanApplication">
        <activity android:name=".activities.SplashActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="en51ccm" android:host="startapp" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ZhangdanActionBarStyle" android:name=".activities.MainFragmentActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.tauth.AuthActivity" android:launchMode="singleTask" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100266738" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.account.LoginTypeActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.account.OfficialLoginActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.account.LoadingActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.detail.CardDetailActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.setting.SettingActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="false" />
        <activity android:name=".activities.setting.AboutUsActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.setting.TalkActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.alipay.AlipayActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.alipay.AlipayAboutActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.detail.CardHistoryActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.main.SelectePicActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.detail.PartPaidActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.mailimport.MailImportActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.mailimport.MailImportManualActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.mailimport.MailAddActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.mailimport.BankHotLineActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.mailimport.MailParseActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.mailimport.ManualImportDescActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.bankservice.BankServiceActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.bankservice.BankServiceSettingActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.zhangdan.app.activities.sms.SmsBillActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.zhangdan.app.activities.sms.AllSmsActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.zhangdan.app.activities.sms.SmsFeedBackActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.zhangdan.app.activities.setting.LockActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.zhangdan.app.activities.sms.SearchSmsActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.zhangdan.app.activities.sms.SmsEditActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.zhangdan.app.activities.stage.StageSummaryActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.mailimport.ImportDescActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.stage.CardStageActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.shopping.AllShoppingSheetActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.newimport.FirstLoginActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.newimport.RelevantAccountActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.chart.ChartActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.setting.UserAgreementActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.remark.TaobaoImportActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.remark.BillRemarkActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.remark.CategoryActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.remark.YouhuiActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".activities.chart.ConsumeCategoryActvity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/ActionBarTheme" android:label="@string/youhui_app_name" android:name="com.zhangdan.preferential.PrefMainActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.MainMapActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.DetailMapActivity" android:configChanges="keyboardHidden|orientation" android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_DETAIL_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.zhangdan.preferential.FragmentBaseActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:name="com.zhangdan.preferential.BaseActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation" />
        <activity android:theme="@style/NoActionBarTheme.Light" android:label="51preferential_ShopDetail" android:name="com.zhangdan.preferential.ShopDetailActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_SHOP_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme.Light" android:label="1_RecommendDetail" android:name="com.zhangdan.preferential.RecommendDetailActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_RECOMMEND_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme.Light" android:name="com.zhangdan.preferential.SearchResultActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_TAG_RESULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_SEARCH_RESULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.zhangdan.preferential.VIEW_TAG_RESULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.zhangdan.preferential.VIEW_SEARCH_RESULT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.DianpingActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_DIANPING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.SinaActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_SINA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.AboutActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.GrouponActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VIEW_GROUPON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.TicketListActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_VEW_MULTIBLE_TICKETS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.TicketActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_ACTION_VEW_SINGLE_TICKET" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.BankConfigurationActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_CONFIG_BANK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme" android:name="com.zhangdan.preferential.AddBankActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_ADD_BANK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme.Light" android:name="com.zhangdan.preferential.SearchActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_OPEN_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme.Light" android:label="@string/app_name" android:name="com.zhangdan.preferential.PickErrorActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.MIX_PICK_ERROR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme.Light" android:name="com.zhangdan.preferential.TestActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Dialog" android:name="com.zhangdan.preferential.WeiboLoginActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.zhangdan.preferential.LOGIN_WEIBO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/NoActionBarTheme.Light" android:name="com.zhangdan.preferential.SpecificRecommendActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:name="com.zhangdan.preferential.UpdatePositionService">
            <intent-filter>
                <action android:name="android.intent.action.UPDATE_POSITION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity android:label="@string/app_name" android:name="com.tencent.weibo.webview.OAuthV2AuthorizeWebView" />
        <provider android:name=".data.db.DataProvider" android:authorities="com.zhangdan.app" />
        <service android:name=".service.DownloadDataService" />
        <service android:name=".service.SyncService" />
        <service android:name=".service.AddDeviceService" />
        <service android:name=".service.SmsService" />
        <service android:name=".service.MailStatusService" />
        <service android:name=".service.MailBillService" />
        <service android:name=".service.ReadLocalDataService" />
        <receiver android:name=".receiver.AlarmReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.RepaymentNotifyReceiver" />
        <meta-data android:name="appid" android:value="nf0v98xkm48xxbRutIUl6" />
        <meta-data android:name="appkey" android:value="Apctq7Juxf7ZuOlyzKe5m7" />
        <meta-data android:name="appsecret" android:value="CwXBlbGB1J6yesQYScKPu9" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.igexin.sdk.SdkActivity" android:process="com.zhangdan.app.pushservice" android:taskAffinity="android.task.SdkActivityTask" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="com.igexin.action.popupact.com.zhangdan.app" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service android:label="NotifyCenterAIDL" android:name="com.igexin.sdk.coordinator.SdkMsgService" android:exported="true" android:process="com.zhangdan.app.pushservice" />
        <receiver android:name="com.igexin.sdk.coordinator.NotificationCenterAIDLReceiver">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <service android:label="NotifyCenter" android:name="com.igexin.sdk.SdkMainService" android:exported="false" android:process="com.zhangdan.app.pushservice" />
        <receiver android:name="com.igexin.sdk.SdkReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <service android:name="sdk.download.DownloadService" android:process="com.zhangdan.app.pushservice" />
        <receiver android:name="sdk.download.DownloadReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider android:name="sdk.download.DownloadProvider" android:process="com.zhangdan.app.pushservice" android:authorities="sdk.download.com.zhangdan.app" />
        <receiver android:name=".receiver.GexinSdkMsgReceiver">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.nf0v98xkm48xxbRutIUl6" />
            </intent-filter>
        </receiver>
        <service android:name="com.umeng.common.net.DownloadingService" android:exported="true" android:process=":DownloadingService" />
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote" />
        <meta-data android:name="UMENG_APPKEY" android:value="4f93beaa52701533e9000002" />
        <meta-data android:name="UMENG_CHANNEL" android:value="小米_原" />
    </application>
</manifest>
